<!DOCTYPE html>
<html lang="fr">
<body>
	<div th:fragment="myheader">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="node_modules/bootstrap/dist/css/bootstrap.min.css"
			rel="stylesheet">

		<link rel="stylesheet" type="text/css"
			href="node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css" />

		<script type="text/javascript"
			src="node_modules/jquery/dist/jquery.min.js"></script>

		<script type="text/javascript"
			src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

		<script type="text/javascript"
			src="node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

		<script type="text/javascript"
			src="node_modules/datatables.net/js/jquery.dataTables.js"></script>

		<script src="/js/cointable.js"></script>
	</div>

</body>
</html>